---
layout: new
---

      <!-- Section Started Heading -->
      <section class="section section-inner started-heading">
      	<div class="container">

  				<!-- Heading -->
					<div class="m-titles align-center">
            <div class="m-category scrolla-element-anim-1 scroll-animate" data-animate="active">
              <a href="{{ site.baseurl }}/blog">Blog</a> / {{page.title}} / by Akshay (@xadahiya) / written on {{ page.date | date: "%B %e, %Y" }}
            </div>
            <h1 class="m-title scrolla-element-anim-1 scroll-animate" data-animate="active">
              {{ page.title }}
            </h1>
					</div>

      	</div>
      </section>

      <!-- Section - Blog -->
			<section class="section section-inner m-archive">
        <div class="container">

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-1">
              
              <!-- content -->
              <div class="description">
                <div class="post-content scrolla-element-anim-1 scroll-animate" data-animate="active">
                  {{ content }}
                </div>
              </div>

              <!-- Comments -->
              <div class="comments-post scrolla-element-anim-1 scroll-animate" data-animate="active">
                <div class="section__comments">
                  {% include disqus.html %}
                </div>
              </div>

            </div>
          </div>

          <div class="v-line-left v-line-top"><div class="v-line-block"><span></span></div></div>

        </div>
      </section>
